/* Banner/Header */
.header {
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
  font-size: 100px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  color: khaki;
}
/* Price Highlight */

.price {
  color: blue;
  font-weight: bold;
}

/*Title Highlights */

.secction-header {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding: 6px 10px; /*space around text */
}

.brush {
  background-color: mediumspringgreen; 
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

